@{
    ViewData["Header"] = "Analiz Paneli";
}
<div class="container-fluid d-flex">
    <div id="gelirler" style="height: 370px; width: 100%;"></div>
    <div id="giderler" style="height: 370px; width: 100%;"></div>
</div>
<div class="container-fluid d-flex mt-5">
    <div id="gelir6ay" style="height: 370px; width: 100%;"></div>
    <div id="gider6ay" style="height: 370px; width: 100%;"></div>
</div>
<div class="container-fluid d-flex mt-5">
    <div id="gelir1yil" style="height: 370px; width: 100%;"></div>
    <div id="gider1yil" style="height: 370px; width: 100%;"></div>
</div>